<link rel="stylesheet" href="/css/habit.css" />
<link rel="stylesheet" href="/css/home.css" />
<div>
  <h1 class="habit-name"><%=habits.habitName%></h1>
</div>

<div class="habbit-display__width">
  <ul class="habit-list">
    <li class="with-weekly">
      <% for(let details of habit){%>
      <div class="habit-list-items">

        <div id="symbol">
          <i class="fas fa-check-circle"></i>
          -Done&emsp;&emsp;
          <i class="fas fa-times-circle"></i>
          -Not Done&emsp;&emsp;
          <i class="fas fa-minus-circle"></i>
          -None&emsp;&emsp;

        </div>


      </div>
</div>
<div class="weekly__container">
  <%for(let d of weeklyDate){%>
  <div class="weekly__date">
    <p><%= d %></p>
    <% 
          let find; 
          let stat; 
          details.dates.find((item) => { if(item.date ===
          d) { find = true; stat = item.complete; } }); %>
          <a href="/update-db-date/?id=<%= details._id %>&date=<%= d %>" class="status">
            <% if (find && stat === 'yes') { %>
              <i class="fas fa-check-circle"></i>
            <% } else if (find && stat === 'no') { %>
              <i class="fas fa-times-circle"></i>
            <% } else { %>
              <i class="fas fa-minus-circle"></i>
            <% } %>
          </a>   
  </div>
  <%}%>
      </div>
      <%}%>
  </li>
  </ul>
</div>

