<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Habit Tracker</title>
    <script
      src="https://kit.fontawesome.com/124c650f91.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/layout.css" />
    <%- style %>
  </head>
  <body>
    <nav>
      <a href="/"><i class="fas fa-home"></i></a>
    </nav>
    <main>
      <div class="heading">
        <h1>Habit Tracker</h1>
      </div>
      <div class="content">
        <%- body %>
      </div>
    </main>
    <%- script %>
  </body>
</html>
